@import "partials/header";

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background: #8B8C8E;
  background: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  background-attachment: fixed;
  cursor: url('../img/plume_1.cur'), pointer;
  @media only screen and (min-width : 1824px) {
    cursor: url('../img/plume.cur'), pointer;
  }
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  &:hover {
  }
  &.active {
    opacity: 1;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  position: absolute;
  top: 200px;
  padding-left: 20px;
  width: 35vw;
  height: 40vh;
  overflow: scroll;
  font-family: 'Hind', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.2;
}
