header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /* ----------- Mobile ----------- */
  /* Portrait and Landscape */
  @media only screen and (max-device-width: 736px) {
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Yep! */
  }
  h1 {
    text-transform: uppercase;
    font-size: 5rem;
    margin: 0;
    padding: 5px 20px;
    /* ----------- Mobile ----------- */
    /* Portrait and Landscape */
    @media only screen and (max-device-width: 736px) {
        font-size: 3rem;
        text-align: center;
    }
    a {
      opacity: 1;
      &:hover {
        opacity: .5;
      }
    }
  }
  h2 {
    color: #E5B1A8!important;
  }
  h2, h3 {
    margin-top: -20px!important;
    text-transform: uppercase;
    margin: 0;
    padding: 0 20px;
    font-size: 4rem;
    /* ----------- Mobile ----------- */
    /* Portrait and Landscape */
    @media only screen and (max-device-width: 736px) {
      font-size: 2rem;
      line-height: 2;
      text-align: center;
    }
  }
  a {
    &:hover {
      color: #E5B1A8;
      // cursor: url('../img/plume_1.cur'), pointer;
      // @media only screen and (min-width : 1824px) {
      //   cursor: url('../img/plume.cur'), pointer;
      // }
    }
  }
  #main-nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    padding: 20px;
    font-size: 3rem;
    line-height: 1;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    /* ----------- Mobile ----------- */
    /* Portrait and Landscape */
    @media only screen and (max-device-width: 736px) {
        display: none;
    }
  }
}
